
a:hover {
	
	background-color:black;
	   	width: 17em;
	
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}


.Deliveryterritory {
	

    background-color: Black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
	margin: 4px 2px;
   	width: 17em;
	line-height: 4em;
	
}

	
	
	.button:active {
  background-color: Black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
	

.header {


text-align: right;
font-family: Helvetica;
	
}

.title {

font-size: 30px;
text-align: right; 

}


.button {
   background-color: Grey;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
	margin: 4px 2px;
   	width: 17em;
	line-height: 4em;
  
	}
.button:hover 
{ 
background-color: Black


}	



.dropdown {
    position: relative;
    display: inline-block;

}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    color: white;
    font-size: 10px;
    cursor: pointer;

  
}


.dropdown:hover .dropdown-content {
    display: block;
	 position: absolute;
}


