
#mapPlaceholder {
    
	height: 200px;
	padding: 10px;
    margin: 5px;
	float: right;
	margin: 30px 30px;
	min-width: 260px;
  	max-width: 230px;		
    left: 27%;
    top: 35%;
	
	} 
   

a:hover {
	
	background-color:black;
	   	width: 17em;
	
}


.Deliveryterritory {
	

    background-color: Black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
	margin: 4px 2px;
   	width: 17em;
	line-height: 4em;
	
}

	
	
	.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
	

.header {


text-align: right;
font-family: Helvetica;
	
}

.title {

font-size: 30px;
text-align: right; 

}


.button {
   background-color: Grey;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
	margin: 4px 2px;
   	width: 17em;
	line-height: 4em;
  
	}
.button:hover 
{ 
background-color: Black


}	
	


	

#openinghoursbox {
    background-color: lightgrey;
    width: 200px;
	padding: 17px;
    margin: 5px;
	float: left;
	margin: 10px 10px;
	min-width: 110px;
  	max-width: 528px;	
    font-family: Arial;
}



#contactdetailsbox {
    background-color: lightgrey;
    width: 260px;
	padding: 10px;
    margin: 5px;
	float: right;
	margin: 30px 30px;
	min-width: 230px;
  	max-width: 290px;	
    font-family: Arial;	
}


.dropdown {
    position: relative;
    display: inline-block;

}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    color: white;
    font-size: 10px;
    cursor: pointer;

  
}


.dropdown:hover .dropdown-content {
    display: block;
	 position: absolute;
}


