
#mapPlaceholder {
    
	height: 200px;
	padding: 10px;
    margin: 5px;
	float: right;
	margin: 30px 30px;
	min-width: 260px;
  	max-width: 230px;		
    left: 13%;
    top: 15%;
	
	}
	
  
 @media (max-width:480px){ 
#mapPlaceholder {
    
	height: 210px;
	padding: 10px;
    margin: 5px;
	float: none;
	margin: 30px 30px;
	min-width: 210px;
  	max-width: 528px;		
    left: 0%;
  
	
	}
}

body 
{
	background-color: #ada397;
	
	
}

a:hover {
	
	background-color:black;
	   	width: 17em;
	
}




.home {
	

    background-color: Black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
	margin: 4px 2px;
   	width: 17em;
	line-height: 4em;
	
}

.Video
{
position:absolute;
bottom: 65%;
left: 42%;
}

 @media (max-width:500px){
.Video
{
position:absolute;
top: 110%;
left: 30%;
}



}
	
	.button:active {
  background-color: Black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
	

.header {


font-family: Helvetica;

}



.button {
background-color: Grey;
border: none;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 10px;
margin: 4px 2px;
width: 17em;
line-height: 4em;	
		
}



.button:hover 
{ 
background-color: Black


}	


#FacebookLogo
{
	position:Absolute;
	left: 90%;
    top:  5%;
	
}

 @media (max-width:950px){ 
#FacebookLogo
{
	position:Absolute;
    top: 90px;
    left: 84%;
	
}
}
#Twitterlogo
{
position:Absolute;
left: 93%;
top:  4%;
}

  
 @media (max-width:950px){ 
	#Twitterlogo
{
	position:Absolute;
    top: 130px;
    left: 81%;
    
}
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: Black;
}

	
	
.Socialmediatext
{
	position:Absolute;
	top: 5%;
	left: 90%;
}


 @media (max-width:950px){ 
.Socialmediatext
{
	position:Absolute;
	top: 5%;
	left: 20%;
} 
}


#openinghoursbox {
    background-color: lightgrey;
    width: 200px;
	padding: 17px;
    margin: 5px;
	float: left;
	margin: 10px 10px;
	min-width: 110px;
  	max-width: 528px;	
    font-family: Arial;
}



#contactdetailsbox {
    background-color: lightgrey;
    width: 260px;
	height: 200px;
	padding: 17px;
    margin: 5px;
	float: left;
	margin: 10px 10px;
	min-width: 110px;
  	max-width: 528px;		
    font-family: Arial;	
	position:absolute;
	left: 70%;
	top:  30%;
}


.dropdown {
    position: relative;
    display: inline-block;

}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    color: white;
    font-size: 10px;
    cursor: pointer;

  
}


.dropdown:hover .dropdown-content {
    display: block;
	 position: absolute;
}


	

 @media (max-width:480px){ 

 #openinghoursbox {
	float:none;
	display:block;
	width: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

 }



 @media (max-width:480px){ 

#contactdetailsbox {
    float:none;
	display:block;
	width: 95%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
	position: absolute;
	left: 9px;
	top: 630px;

 }
 
}
